.items {
  width: 300px;
}
.items:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.items p {
  margin: 5px 0px;
  color: #808080;
  text-decoration: none;
}

.items p: link {
      text-decoration: none;
}

.items p:visited {
      text-decoration: none;
}

.items p:hover {
      text-decoration: none;
}

.items p:active {
      text-decoration: none;
}

.items-price {
  display: flex;
  gap: 10px;
}

.discounted-price {
  font-size: 15px;
  color: green;
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
  color: red;
}
